/Homework/nbproject/private/
/Homework/build/
/Lap9/nbproject/private/
/Filemanipualtion/nbproject/private/
/Filemanipualtion/build/
/Hw3/nbproject/private/
/Hw3/build/
/JavaApplication62/nbproject/private/